{% ckan_extends %}

{% block resource_list %}
  {% if resources %}
    {% set pag = resource_pagination or {} %}
    {% set cur_page = pag.get('page', 1) %}
    {% set pages = pag.get('pages', 1) %}
    {% set total = pag.get('total', resources|length) %}
    {% set start = pag.get('start', 1) %}
    {% set end = pag.get('end', resources|length) %}

    <ul class="resource-list">
      {% for resource in resources %}
        {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
      {% endfor %}
    </ul>

    {% if pages > 1 %}
      <p class="text-muted small">
        Showing {{ start }}-{{ end }} of {{ total }} resources
      </p>
      <div class="pagination-wrapper">
        <ul class="pagination justify-content-center">
          {% if cur_page > 1 %}
            <li class="page-item">
              <a class="page-link" href="{{ h.resource_page_url(cur_page - 1) }}">&laquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">&laquo;</span>
            </li>
          {% endif %}

          {% set window = 2 %}
          {% set rs = cur_page - window %}
          {% set re = cur_page + window %}
          {% if rs < 1 %}{% set rs = 1 %}{% endif %}
          {% if re > pages %}{% set re = pages %}{% endif %}

          {% if rs > 1 %}
            <li class="page-item">
              <a class="page-link" href="{{ h.resource_page_url(1) }}">1</a>
            </li>
            {% if rs > 2 %}
              <li class="page-item disabled">
                <span class="page-link">&hellip;</span>
              </li>
            {% endif %}
          {% endif %}

          {% for p in range(rs, re + 1) %}
            {% if p == cur_page %}
              <li class="page-item active">
                <span class="page-link">{{ p }}</span>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="{{ h.resource_page_url(p) }}">{{ p }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if re < pages %}
            {% if re < pages - 1 %}
              <li class="page-item disabled">
                <span class="page-link">&hellip;</span>
              </li>
            {% endif %}
            <li class="page-item">
              <a class="page-link" href="{{ h.resource_page_url(pages) }}">{{ pages }}</a>
            </li>
          {% endif %}

          {% if cur_page < pages %}
            <li class="page-item">
              <a class="page-link" href="{{ h.resource_page_url(cur_page + 1) }}">&raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">&raquo;</span>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  {% else %}
    {% block resource_list_empty %}
      {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
        {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
        <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
        {% endtrans %}
      {% else %}
        <p class="empty">{{ _('This dataset has no data') }}</p>
      {% endif %}
    {% endblock %}
  {% endif %}
{% endblock %}
